version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mydb
      MYSQL_USER: user123
      MYSQL_PASSWORD: pass123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  springboot:
    build: .
    container_name: springboot
    restart: always
    depends_on:
      - mysql
    environment:
      MYSQL_USER: user123
      MYSQL_PASSWORD: pass123
    ports:
      - "8080:8080"

volumes:
  mysql_data:
